body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body .container {
    max-width: 1000px;
    margin: 30px auto;
}
.locations,
.amenities {
    display: inline-block;
    position: relative; /* Adding relative positioning */
}

.locations .popover,
.amenities .popover {
    position: absolute;
    top: 100%; /* Positioning the popover below the parent element */
    left: 0;
}